html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
  order: -1;
  margin: 0 0 .5rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
