html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1.125rem;
  margin: .5rem;
  padding: 1rem;
}

header img {
  width: 2rem;
  order: -1;
  margin-right: .5rem;
}

header p {
  margin: 0 auto;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #0074d9;
  padding: .75em 1em .6em;
}
