html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  order: -1;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
